





.custom-navbar {
  background: transparent;
}

.nav-link {
  color: #3d210e;
  font-weight: 400;
  margin-left: 1rem;
  font-family: ;
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.3);
}

.custom {
  padding-left: 50px;
  padding-right: 50px;





}